<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ninki.wallet" version="0.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <preference name="orientation" value="portrait"/>
  <name>Ninki</name>
  <description>
        Ninki Wallet
    </description>
  <author email="dev@ninkip2p.com" href="https://ninkip2p.com">
        Team Ninki
    </author>
  <content src="index.html"/>
  <access origin="https://api.ninkip2p.com"/>
  <access origin="https://ninkip2p.imgix.net"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="KeyboardShrinksView" value="true"/>
  <preference name="keepRunning" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="HideKeyboardFormAccessoryBar" value="true"/>
  <preference name="AndroidLaunchMode" value="singleTask"/>
  <feature name="Device">
    <param name="android-package" value="org.apache.cordova.device.Device"/>
    
  </feature>
  <feature name="ECPlugin">
    <param name="ios-package" value="ECPlugin"/>
  </feature>
</widget>